body{
     margin: 0;
     font-family: 'Anton', sans-serif;;
     
}

h1{
     color: darkred;
}
.container-flexble{
     display: flex;
     flex-direction: row;
}
.flexble-style{
     width: 50%;
     margin: 10px;
     padding: 10px;

}
.flexble-style-img{
     width: 90%;
     height: 300px;

}

/*2nd part style*/

.navigation-flexble{
     display: flex;
     width: 100%;
     height: 100px;
     border: 2px solid rgb(247, 222, 222);
     margin-left: 10px;
     margin-bottom: 50px;
     
     

}
.navigation-flexble-style{
     width: 50%;
     margin-right : 10px;
}
.list-link-style{
     list-style-type: none;
     display:inline;
     

}
#search{
     border: 2px solid brown;
}

     

}


