body{
     margin: 0;
     font-family: 'Anton', sans-serif;;
     
}

h1{
     color: darkred;
}
.container-flexble{
     display: flex;
     flex-direction: row;
}
.flexble-style{
     width: 50%;
     margin: 10px;
     padding: 10px;

}
.flexble-style-img{
     width: 90%;
     height: 300px;

}

/*navigation style*/
.nav-container-flex{
     display: flex;
     width: 100%;
     height: 300px;
}
.nav-container-style{
     width: 70%;
}

.link-bar-style{
     width: 100%;
     height: 50px;
        
}
a{
     text-decoration: none;
     margin: 20px;
     padding: 30px;
    
}


/*footer part style*/
footer{
     display: flex;
     background-color: rgb(204, 185, 204);
     width: 100%;
     height: 200px;
     margin:10px o o 0;
     padding: 10px 20px 5px;
     
}
.footer-container-divide{
     width: 50%;
     margin-left: 5px;
}
footer img{
     width: 30%;
     height: 200px;
     
}

footer h3 a{

     color: tomato;
     
     
}

