body{
     margin: 0;
     font-family: 'Anton', sans-serif;;
     
}

h1{
     color: darkred;
}
.container-flexble{
     display: flex;
     flex-direction: row;
}
.flexble-style{
     width: 50%;
     margin: 10px;
     padding: 10px;

}
.flexble-style-img{
     width: 90%;
     height: 300px;

}

/*navigation style*/
.nav-container-flex{
     display: flex;
     width: 100%;
     height: 300px;
}
.nav-container-style{
     width: 70%;
}

.link-bar-style{
     width: 100%;
     height: 50px;
        
}
a{
     text-decoration: none;
     margin: 20px;
     padding: 30px;
    
}


/*contruct site design*/

.container-flex-contract{
     display: flex;
     margin-bottom: 200px;
     background-image: linear-gradient(rgb(177, 191, 192),white);
     height: 500px;
     margin: 20px;
     padding: 40px;
     border: 2px solid rgb(223, 215, 215);
}
.flex-contract-width{
     width: 50%;
     height: 300px;

}


/*footer part style*/

.footer-style{
     display: flex;
     background-color: rgb(204, 185, 204);
     
}

.footer-flex{
     width: 50%;
     margin: 20px;
     padding: 5px;
}
.footer-flex img{
     width:30%;
     
     
}



