body{
     margin: 0;
     font-family: 'Anton', sans-serif;;
     
}

h1{
     color: darkred;
}
.container-flexble{
     display: flex;
     flex-direction: row;
}
.flexble-style{
     width: 50%;
     margin: 10px;
     padding: 10px;

}
.flexble-style-img{
     width: 90%;
     height: 300px;

}

/*2nd part style*/
ul{
     list-style-type: none;
     width:100%;
     height: 100px;
     margin-bottom: 20px;
     background-color: violet;
     
}

li a{
     display:inline;
     text-decoration:none;
     color: rgb(157, 228, 86);
     padding: 10px 10px;
     text-align: center;

}
li a:hover{
     background-color: chocolate;
     color: white;
}





